<div *ngIf="isOpen" class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50">
  <div class="bg-white p-6 rounded shadow-lg w-full max-w-md">
    <h2 class="text-xl font-bold mb-4">Dodaj Nowy Produkt</h2>
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
      <div class="mb-4">
        <label for="name" class="block text-sm font-medium text-gray-700">Nazwa</label>
        <input id="name" formControlName="name" type="text" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm" />
      </div>
      <div class="mb-4">
        <label for="description" class="block text-sm font-medium text-gray-700">Opis</label>
        <textarea id="description" formControlName="description" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm"></textarea>
      </div>
      <div class="mb-4">
        <label for="type" class="block text-sm font-medium text-gray-700">Typ</label>
        <select id="type" formControlName="type" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm">
          <option value="">Wybierz typ</option>
          <option value="MONOTYPE">Monotypia</option>
          <option value="PRINT">Druk</option>
        </select>
      </div>
      <div class="mb-4">
        <label for="state" class="block text-sm font-medium text-gray-700">Stan</label>
        <select id="state" formControlName="state" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm">
          <option value="">Wybierz stan</option>
          <option value="AVAILABLE">Dostępny</option>
          <option value="SOLD">Sprzedany</option>
        </select>
      </div>
      <div class="mb-4">
        <label for="price" class="block text-sm font-medium text-gray-700">Cena</label>
        <input id="price" formControlName="price" type="number" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm" />
      </div>
      <div class="mb-4">
        <label for="image" class="block text-sm font-medium text-gray-700">Zdjęcie</label>
        <input id="image" type="file" (change)="onImageChange($event)" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm" />
      </div>
      <div class="flex justify-end">
        <button type="button" (click)="close()" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded mr-2">Anuluj</button>
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" [disabled]="productForm.invalid">Dodaj</button>
      </div>
    </form>
  </div>
</div>
