<div class="container mx-auto px-5 py-2 lg:px-32 lg:pt-24">
  <div class="-m-1 flex flex-wrap md:-m-2">
    <div class="flex w-1/2 flex-wrap">
      <div class="w-1/2 p-1 md:p-2">
        <img
          alt="gallery"
          class="block h-full w-full rounded-lg object-cover object-center cursor-pointer"
          src="assets/gallery/2005-09.jpg"
          (click)="openLightbox('assets/gallery/2005-09.jpg')"
        />
      </div>
      <div class="w-1/2 p-1 md:p-2">
        <img
          alt="gallery"
          class="block h-full w-full rounded-lg object-cover object-center cursor-pointer"
          src="assets/gallery/2005-zkwiatem.jpg"
          (click)="openLightbox('assets/gallery/2005-zkwiatem.jpg')"
        />
      </div>
      <div class="w-full p-1 md:p-2">
        <img
          alt="gallery"
          class="block h-full w-full rounded-lg object-cover object-center cursor-pointer"
          src="assets/gallery/2007-0018.jpg"
          (click)="openLightbox('assets/gallery/2007-0018.jpg')"
        />
      </div>
    </div>
    <div class="flex w-1/2 flex-wrap">
      <div class="w-full p-1 md:p-2">
        <img
          alt="gallery"
          class="block h-full w-full rounded-lg object-cover object-center cursor-pointer"
          src="assets/gallery/kbis01.jpg"
          (click)="openLightbox('assets/gallery/kbis01.jpg')"
        />
      </div>
      <div class="w-1/2 p-1 md:p-2">
        <img
          alt="gallery"
          class="block h-full w-full rounded-lg object-cover object-center cursor-pointer"
          src="assets/gallery/kbis04.jpg"
          (click)="openLightbox('assets/gallery/kbis04.jpg')"
        />
      </div>
      <div class="w-1/2 p-1 md:p-2">
        <img
          alt="gallery"
          class="block h-full w-full rounded-lg object-cover object-center cursor-pointer"
          src="assets/gallery/kbis05.jpg"
          (click)="openLightbox('assets/gallery/kbis05.jpg')"
        />
      </div>
    </div>
    <div class="flex w-1/2 flex-wrap">
      <div class="w-1/2 p-1 md:p-2">
        <img
          alt="gallery"
          class="block h-full w-full rounded-lg object-cover object-center cursor-pointer"
          src="assets/gallery/olej0015.jpg"
          (click)="openLightbox('assets/gallery/olej0015.jpg')"
        />
      </div>
      <div class="w-1/2 p-1 md:p-2">
        <img
          alt="gallery"
          class="block h-full w-full rounded-lg object-cover object-center cursor-pointer"
          src="assets/gallery/olej0020.jpg"
          (click)="openLightbox('assets/gallery/olej0020.jpg')"
        />
      </div>
      <div class="w-full p-1 md:p-2">
        <img
          alt="gallery"
          class="block h-full w-full rounded-lg object-cover object-center cursor-pointer"
          src="assets/gallery/olej0022.jpg"
          (click)="openLightbox('assets/gallery/olej0022.jpg')"
        />
      </div>
    </div>
    <div class="flex w-1/2 flex-wrap">
      <div class="w-full p-1 md:p-2">
        <img
          alt="gallery"
          class="block h-full w-full rounded-lg object-cover object-center cursor-pointer"
          src="assets/gallery/olej0041.jpg"
          (click)="openLightbox('assets/gallery/olej0041.jpg')"
        />
      </div>
      <div class="w-1/2 p-1 md:p-2">
        <img
          alt="gallery"
          class="block h-full w-full rounded-lg object-cover object-center cursor-pointer"
          src="assets/gallery/ongoly.jpg"
          (click)="openLightbox('assets/gallery/ongoly.jpg')"
        />
      </div>
      <div class="w-1/2 p-1 md:p-2">
        <img
          alt="gallery"
          class="block h-full w-full rounded-lg object-cover object-center cursor-pointer"
          src="assets/gallery/para.jpg"
          (click)="openLightbox('assets/gallery/para.jpg')"
        />
      </div>
      <div class="w-1/2 p-1 md:p-2">
        <img
          alt="gallery"
          class="block h-full w-full rounded-lg object-cover object-center cursor-pointer"
          src="assets/gallery/pimpek.jpg"
          (click)="openLightbox('assets/gallery/pimpek.jpg')"
        />
      </div>
    </div>
  </div>

  <!-- Lightbox Modal -->
  <div
    id="lightbox"
    class="fixed inset-0 bg-black bg-opacity-75 hidden justify-center items-center"
    [ngClass]="{'flex': lightboxOpen, 'hidden': !lightboxOpen}"
  >
    <span class="absolute top-0 right-0 p-4 text-white text-2xl cursor-pointer" (click)="closeLightbox()">&times;</span>
    <img id="lightbox-img" class="max-w-full max-h-full rounded-lg" [src]="lightboxImage" alt="Lightbox Image">
  </div>
</div>
