<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownShop" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Shop
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownShop">
          <a class="dropdown-item" href="/shop" [routerLink]="['/shop']">All</a>
          <a class="dropdown-item" href="/shop?type=OIL" >Oils</a>
          <a class="dropdown-item" href="/shop?type=MONOTYPE" >Monotypes</a>
          <a class="dropdown-item" href="/shop?type=PRINT" >Prints</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownInfo" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Info
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownInfo">
          <a class="dropdown-item" href="/bio" [routerLink]="['/bio']">Bio</a>
          <a class="dropdown-item" href="/magazines" [routerLink]="['/magazines']">Magazines</a>
          <a class="dropdown-item" href="/exhibitions" [routerLink]="['/exhibitions']">Exhibitions</a>
          <a class="dropdown-item" href="/artistStatement" [routerLink]="['/artistStatement']">Artist Statement</a>
          <a class="dropdown-item" href="/contact" [routerLink]="['/contact']">Contact</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/gallery" [routerLink]="['/gallery']">Gallery</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/cart" [routerLink]="['/cart']">Cart</a>
      </li>
    </ul>
  </div>
</nav>
