<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/shop" id="navbarDropdownShop" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Shop
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownShop">
          <a class="dropdown-item" routerLink="/all">All</a>
          <a class="dropdown-item" routerLink="/oils">Oils</a>
          <a class="dropdown-item" routerLink="/monotypes">Monotypes</a>
          <a class="dropdown-item" routerLink="/prints">Prints</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownInfo" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Info
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownInfo">
          <a class="dropdown-item" routerLink="/bio">Bio</a>
          <a class="dropdown-item" routerLink="/magazines">Magazines</a>
          <a class="dropdown-item" routerLink="/exhibitions">Exhibitions</a>
          <a class="dropdown-item" routerLink="/artistStatement">Artist Statement</a>
          <a class="dropdown-item" routerLink="/contact">Contact</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/gallery">Gallery</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/cart">Cart</a>
      </li>
    </ul>
  </div>
</nav>
