.container {
  display: flex;
  flex-wrap: wrap;
}

.filters {
  flex: 1 1 100%;
  max-width: 300px;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .filters {
    flex: 0 0 25%;
    margin-bottom: 0;
  }
}

.main-content {
  flex: 1 1 100%;
  padding: 15px;
  gap: 15px; /* Add gap between items */
}

@media (min-width: 768px) {
  .main-content {
    flex: 0 0 75%;
  }
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.card-img-top {
  object-fit: cover;
  height: 200px; /* Set your desired height */
  width: 400px; /* Set your desired width */
}

.card-body {
  display: flex;
  flex-direction: column;
}
