<app-stepper></app-stepper>
<div class="wrapper bg-gray text-black">
  <div class="content container mx-auto p-4 max-w-4xl">
    <h1 class="text-3xl font-bold text-black mb-4">Payment Information</h1>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
      <div class="md:col-span-2">
        <div class="mb-6">
          <h3 class="text-lg font-bold text-black py-3">Contact Information</h3>
          <p class="text-sm text-black"><strong>Email address:</strong> {{ email }}</p>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-6">
          <div>
            <p class="text-sm text-black"><strong>First name:</strong> {{ firstName }}</p>
          </div>
          <div>
            <p class="text-sm text-black"><strong>Last name:</strong> {{ lastName }}</p>
          </div>
        </div>
        <h3 class="text-lg font-bold text-black py-3">Shipping Address</h3>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-6">
          <div>
            <p class="text-sm text-black"><strong>Country:</strong> {{ country }}</p>
          </div>
          <div>
            <p class="text-sm text-black"><strong>State / Province:</strong> {{ state }}</p>
          </div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-6">
          <div>
            <p class="text-sm text-black"><strong>Address:</strong> {{ address }}</p>
          </div>
          <div>
            <p class="text-sm text-black"><strong>Apartment number:</strong> {{ apartmentNumber }}</p>
          </div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-6">
          <div>
            <p class="text-sm text-black"><strong>City:</strong> {{ city }}</p>
          </div>
          <div>
            <p class="text-sm text-black"><strong>Postal code:</strong> {{ zip }}</p>
          </div>
        </div>
        <div class="grid grid-cols-1 mb-6">
          <div class="flex justify-center">
            <a routerLink="/payment" class="bg-gray-600 text-gray-100 py-1 px-3 hover:bg-gray-500 text-center rounded">Proceed to payment</a>
          </div>
        </div>
      </div>

      <div class="order-summary p-4 border border-gray-700 rounded-md">
        <h2 class="text-xl font-bold mb-4">Order summary</h2>
        <div *ngFor="let item of cartItems" class="flex items-center justify-between mb-4">
          <img [src]="item.imageUrl" [alt]="item.productName" class="w-16 h-16 rounded-md">
          <div class="ml-4">
            <p class="text-sm text-black">{{ item.productName }}</p>
            <p class="text-sm text-black">€{{ item.price }}</p>
            <p class="text-sm text-black">Quantity: {{ item.quantity }}</p>
          </div>
        </div>
        <div class="border-t border-gray-700 pt-4">
          <div class="flex items-center justify-between text-sm mb-2">
            <span>Subtotal</span>
            <span>€{{ totalAmount }}</span>
          </div>
          <div class="flex items-center justify-between text-sm mb-2">
            <span>Shipping</span>
            <span>Pending</span>
          </div>
          <div class="flex items-center justify-between text-sm mb-2">
            <span>Tax</span>
            <span>Pending</span>
          </div>
          <div class="flex items-center justify-between text-lg font-bold">
            <span>Total</span>
            <span>EUR €{{ totalAmount }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
