<div class="flex items-center justify-center pt-12">
  <div class="max-w-5xl p-6 bg-white shadow-lg text-left">
    <div class="flex flex-col lg:flex-row lg:items-start mb-6">
      <img src="assets/bio_face.png" alt="Kamila Białkowska-Ismaił" class="lg:mr-6 mb-4 lg:mb-0 lg:self-start">
    </div>
    <div>
      <h1 class="text-4xl font-bold text-gray-900">Kamila Białkowska-Ismaił</h1>
    </div>
    <p class="text-lg text-gray-700 mb-4">
      Urodzona w Polsce w 1969, gdzie obecnie pracuje. W latach 1989 -1995 studiowała w Wyższym Moskiewskim Instytucie
      Sztuki Monumentalno-Dekoracyjnej i Stosowanej. Uzyskała tam dyplom z wyróżnieniem rektorskim w specjalności
      konserwacja malarstwa monumentalnego i otrzymała kwalifikację artysty konserwatora oraz tytuł naukowy magistra
      historii sztuki.
    </p>
    <p class="text-lg text-gray-700 mb-4">
      W latach 1996-1998 studia doktoranckie w Państwowym Rosyjskim Uniwersytecie humanistycznym w Moskwie na Wydziale
      Muzeologii. Zajmuje się malarstwem, rysunkiem, grafiką i ilustracją. W swojej twórczości nie wyznacza jednakowych
      granic i nie stosuje typowych technologii. Wypracowała własną technikę, łącząc monotypowe odbitki z malarstwem.
    </p>
    <p class="text-lg text-gray-700 mb-4">
      Człowiecze i prywatne wizje przedmiotów i świata to najchętniej wybierane przez nią tematy prac. Kamila
      Białkowska-Ismaił od 1999 roku jest członkiem sekcji grafiki Związku Polskich Artystów Plastyków.
    </p>
  </div>
</div>
