<div class="flex min-h-screen w-full flex-col bg-white">
  <app-sidebar></app-sidebar>
  <div class="flex flex-1 px-20">
    <div class="w-2/3">
      <app-admin-product-list
        (productSelected)="onProductSelected($event)"
        (addProduct)="openAddProductModal()"></app-admin-product-list>
      <app-add-product-modal
        [isOpen]="isAddProductModalOpen"
        (productAdded)="handleProductAdded($event)"
        (close)="isAddProductModalOpen = false">
      </app-add-product-modal>
    </div>
    <div class="w-1/3 pl-6">
      <app-admin-product-details [product]="selectedProduct"></app-admin-product-details>
    </div>
  </div>
</div>
