<div class="flex flex-col items-center justify-center w-full bg-white">
  <div class="w-full p-6 bg-white text-black shadow-lg rounded-lg">
    <h1 class="text-4xl font-bold text-black mb-4">Zamówienia</h1>
    <div class="overflow-x-auto">
      <table class="min-w-full bg-white text-black rounded-lg">
        <thead>
        <tr class="w-full bg-gray-200 text-left">
          <th class="py-2 px-4">ID</th>
          <th class="py-2 px-4">Klient</th>
          <th class="py-2 px-4">Produkty</th>
          <th class="py-2 px-4">Status płatności</th>
          <th class="py-2 px-4">Data złożenia</th>
          <th class="py-2 px-4 text-right">Wartość</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let order of orders"
            class="border-t border-gray-200 cursor-pointer"
            (click)="selectOrder(order)"
            [ngClass]="{
                'bg-gray-300': selectedOrderId === order.id,
                'hover:bg-gray-200': selectedOrderId !== order.id,
                'hover:bg-gray-400': selectedOrderId === order.id
              }">
          <td class="py-2 px-4">{{ order.id }}</td>
          <td class="py-2 px-4">
            <div class="font-medium">{{ order.customer.firstName }} {{ order.customer.lastName }}</div>
            <div class="text-sm text-gray-600">{{ order.customer.email }}</div>
          </td>
          <td class="py-2 px-4">{{ order.description }}</td>
          <td class="py-2 px-4">
              <span class="py-1 px-2 rounded-lg" [ngClass]="{
                'bg-green-100 text-green-800': order.paymentStatus === 'SUCCESS',
                'bg-red-100 text-red-800': order.paymentStatus === 'Declined'
              }">
                {{ order.paymentStatus }}
              </span>
          </td>
          <td class="py-2 px-4">{{ order.creationDate | date }}</td>
          <td class="py-2 px-4 text-right">{{ order.totalAmount }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
