body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

footer {
  width: 100%;
  text-align: center;
  background-color: #343a40;
  color: #ffffff;
  padding: 1rem 0;
}

.navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.navbar-brand .logo {
  max-width: 30%;
  height: auto;
}

.navbar-nav .nav-link {
  font-size: 1.25rem;
  color: green;
}

.navbar-nav .nav-link:hover {
  color: darkgreen;
}

.dropdown-menu {
  background-color: white;
  border: 1px solid lightgray;
}

.dropdown-item {
  font-size: 1rem;
  color: green;
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}
