@import '@taiga-ui/core/styles/taiga-ui-local.less';

@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  height: 100%;
  margin: 0;
  font-family: Roboto, sans-serif;
  font-weight: 500; /* Make the base font weight medium */
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 800; /* Make all headings extra bold */
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: white;
  color: white;
}

.content {
  flex: 1;
}

footer {
  width: 100%;
  text-align: center;
  background-color: #343a40;
  color: #ffffff;
  padding: 1rem 0;
}

.navbar {
  justify-content: center;
  display: flex;
}

.navbar > div {
  width: auto;
}

.navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.navbar-brand .logo {
  max-width: 30%;
  height: auto;
}

.navbar-nav .nav-link {
  font-size: 1.25rem;
  color: green;
  font-weight: 500; /* Make navbar links medium bold */
}

.navbar-nav .nav-link:hover {
  color: darkgreen;
}

.dropdown-menu {
  background-color: white;
  border: 2px solid lightgray;
}

.dropdown-item {
  font-size: 1rem;
  color: green;
  font-weight: 500; /* Make dropdown items medium bold */
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 2px solid #e2e8f0; /* Light border color */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Slight shadow for depth */
  overflow: hidden; /* Ensure content doesn't overflow the card */
  transition: transform 0.2s ease-in-out; /* Smooth transition for hover effect */
  cursor: pointer;
}

.card:hover {
  transform: translateY(-4px); /* Lift the card slightly on hover */
}

.card-img-top {
  object-fit: cover;
  height: 250px; /* Set your desired height */
  width: 100%; /* Ensure the image takes up the full width of the card */
  border-bottom: 1px solid #e2e8f0; /* Border between image and card body */
}

.card-body {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.card-text {
  font-size: 1rem;
  color: #333;
  margin-bottom: 8px;
}

.text-muted {
  color: #718096;
}

.cart-item-count {
  color: #e3342f;
  font-weight: bold;
  margin-left: 0rem;
  position: relative;
  top: -10px;
}
