<div class="thankyou-page container mx-auto p-4 text-center min-h-screen flex flex-col items-center justify-center bg-gray-100">
  <img src="assets/thankyou.png" alt="Thank You" class="w-128 h-90 mb-4">
  <h1 class="text-4xl font-bold text-gray-800 mb-4">Thank You for Your Purchase!</h1>
  <p class="text-lg text-gray-600 mb-8">
    Your order has been placed successfully. We appreciate your business and hope you enjoy your new artwork.
  </p>
  <div>
    <a href="" class="w-full block bg-gray-500 text-gray-100 py-1 px-3 hover:bg-gray-500 text-center rounded">Back to cart</a>
  </div>
</div>
